.accordian-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    min-height: 30rem;
}
.sec-headings{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 920px) {
    .sec-headings{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1200px) {}